/* Very basic CSS, we are more interested in the logic */
body {
    background-color: #000000;
    color: #f5f5f5;
    height: calc(100dvh - 18px);
}

#wrapper {
    position: relative;
    top: 25%;
    margin: auto;
}

#display {
    font-family: Orbitron, sans-serif;
    font-weight: 800;
    display: flex;
    justify-content: center;
    font-size: 4rem;
}

#timer,
#buttons {
    padding: 2rem;
    text-align: center;
}

button {
    border-radius: 0.7rem;
    font-family: sans-serif;
}

button,
input {
    font-size: 2rem;
    margin: 1rem;
    text-align: center;
    width: 10rem;
    height: 3rem;
    cursor: pointer;
}

.pauseButton {
    display: none;
    background-color: #df5e55;
}

.startButton,
.setButton {
    background-color: #55df55;
}
